<!DOCTYPE html>
<html>
  <head>
    <title>FindYourRSO</title>
    <link rel="stylesheet" href="static/style2.css">
  </head>

  <body>

  <!-- Header title at the top of the page -->
  <h1>FindYourRSO</h1>

    <!-- Sign in box container -->
    <div class="Box">
      <h2>Sign In <br></h2>

      <!-- Sign in form -->
      <form action="/login" method="POST">
        <div class="Sign-In-Container">
          <p>
            <!-- Email input field -->
            SJSU Email<br>
            <input type="email" name="username" required><br><br>

            <!-- Password input field -->
            Password<br>
            <input type="password" name="password" required><br>
          </p>
        </div>

        <!-- Sign In button -->
        <div class="Button-Container">
          <button type="submit" class="button" style="border:none; cursor:pointer;">
            Sign In
          </button>
        </div>

      </form>

      <!-- Button to direct user to the signup page -->
      <div class="Button-Container">
        <a href="/signup.html" class="button">
          Create Account
        </a>
      </div>

    </div>
  </body>
</html>
