<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>

<body>

<header>
    <h1 class="logo">FindYourRSO</h1>
</header>

<main>
    <h2 class="greeting">FoundYourRSOs</h2>

    <div class="profile-card">

        <p class="section-subtitle">Here is a list of your recommended and saved clubs and organizations</p>

        <div class="rso-list">

            <!-- List of saved rsos, iterates through the list of saved/starred from recommendations -->
            <div class="rso-list">
            {% if saved_rso %}
                {% for rso in saved_rso %}
                    <div class="rso-item">{{ rso }}</div>
                {% endfor %}
            {% else %}
                <p>No RSOs saved yet.</p>
            {% endif %}
        </div>

        </div>

    </div>
</main>

</body>
</html>
