<!DOCTYPE html>
<html>
    <head>
        <title>
            FindYourRSO
        </title>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <div class="Body">
    <body>
    <h1>
        FindYourRSO
    </h1>
    <h2>
        FOMO? Never heard of it.
    </h2>
    <p>
        Discover clubs and organizations that match your interests, schedule, and goals all in one. <br><br>
        
        FindYourRSO connects San José State University students with RSOs that align with who they are and what they love. No more hoping to stumble across the right club or missing campus events, just personalized recommendations that help you get involved and find your community.
    </p>
    </div>

    <div class="button-container">
    <a
    href="login.html">Get Started!</a>
    </div>
    </body>
</html>